@model VendasWebMvc.Models.SalesRecord
@{ 
    ViewData["Title"] = "Remover";
}
  

<h2>@ViewData["Title"]</h2>

<h3>Confirma que pretende remover?</h3>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary badge"> Voltar às vendas</a>
    </form>
</div> 